/* Navbar */
.wood-bg-navbar{
  background-color:#F5F1E6;
  background-image:
    repeating-linear-gradient(90deg,rgba(169,113,66,.06) 0,rgba(169,113,66,.06) 2px,transparent 2px,transparent 6px),
    linear-gradient(0deg,rgba(169,113,66,.05),rgba(169,113,66,.02) 60%,rgba(169,113,66,.05)),
    linear-gradient(#F5F1E6,#F5F1E6);
}
.dark .wood-bg-navbar{
  background-color:#2A1B14;
  background-image:
    repeating-linear-gradient(90deg,rgba(193,135,90,.10) 0,rgba(193,135,90,.10) 2px,transparent 2px,transparent 6px),
    linear-gradient(0deg,rgba(161,113,77,.12),rgba(161,113,77,.06) 60%,rgba(161,113,77,.12)),
    linear-gradient(#2A1B14,#2A1B14);
}

/* Footer */
.wood-bg-footer{
  background-color:#F5F1E6;
  background-image:
    repeating-linear-gradient(90deg,rgba(169,113,66,.06) 0,rgba(169,113,66,.06) 2px,transparent 2px,transparent 6px),
    linear-gradient(0deg,rgba(169,113,66,.05),rgba(169,113,66,.02) 60%,rgba(169,113,66,.05)),
    linear-gradient(#F5F1E6,#F5F1E6);
}
.dark .wood-bg-footer{
  background-color:#2A1B14;
  background-image:
    repeating-linear-gradient(90deg,rgba(193,135,90,.10) 0,rgba(193,135,90,.10) 2px,transparent 2px,transparent 6px),
    linear-gradient(0deg,rgba(161,113,77,.12),rgba(161,113,77,.06) 60%,rgba(161,113,77,.12)),
    linear-gradient(#2A1B14,#2A1B14);
}
